.latest-posts {
  padding: 80px;
  color: #fff;
    background-color: black;
}

.latest-header {
  display: flex;
  justify-content: space-between;

  align-items: flex-end;
  margin-bottom: 40px;

}

.latest-header .badge {
  display: inline-block;

  
  background: #ff8c1a;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  margin-bottom: 10px;

  
}

.latest-header h2 {
  font-size: 50px;
  font-weight: 800;
  margin: 10px 0;
}

.latest-header p {
  color: #aaa;
}

.view-all {
  color: #ff8c1a;
  text-decoration: none;
  font-weight: 600;
}

.latest-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.latest-card {
  background: #1a1a1a;
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s;
}

.latest-card:hover {
  transform: translateY(-6px);
}

.image-wrap {
  position: relative;
}

.image-wrap img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.category {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #000000aa;
  padding: 6px 12px;
  border-radius: 12px;
  font-size: 12px;
}

.content {
  padding: 20px;
}

.meta {
  display: flex;
  gap: 15px;
  font-size: 12px;
  color: #aaa;
  margin-bottom: 10px;
}

.content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.content p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 15px;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}