.featured-section {
  background: #0b0b0f;
  padding: 80px 0;
}

.feature-left {
  direction: rtl;
  background: #111;
  color: #fff;
}

.feature-title {
  color: #ff9a1f;
  font-weight: 800;
}

.feature-desc {
  color: rgba(255,255,255,.75);
}

.pill-orange {
  background: rgba(255,140,0,.14);
  color: #ffb15a;
  padding: 6px 12px;
  border-radius: 999px;
}

.feature-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
/* الكارد نفسه */
.feature-card {
  background-color: #111;
  transition: all 0.3s ease;
}

/* الصورة */
.feature-right {
  overflow: hidden;
}

.feature-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

/* زوم الصورة */
.feature-card:hover .feature-img {
  transform: scale(1.08);
}

/* العنوان */
.feature-title {
  color: #fff;
  transition: color 0.3s ease;
}

/* العنوان يصير أورانج */
.feature-card:hover .feature-title {
  color: #f59e0b; /* أورانج ذهبي */
}

/* زر اقرأ */
.read-more {
  color: #9ca3af;
  text-decoration: none;
  transition: color 0.3s ease;

}
.read-more .arrow{
    display: inline-block;
    transition: transform 0.3s ease;
}

.feature-card:hover .read-more {
  color: #f59e0b;
}

/* سهم */
.read-more .arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.feature-card:hover .read-more .arrow {
  transform: translateX(-5px);
}
.pill{
    font-size: 12px;
    color:#FF6900 ;
    border: 1px solid #FF6900;
}
.meta{
    color: #737373;
    font-size: 13px;
    margin-left: 390px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.feature-title{
    font-size: 35px;
    font-weight: 700px;
    line-height: 1.4;
    color: white;
}
.feature-desc {
  font-size: 14px;
  line-height: 1.7;
  color: #9ca3af;
}
.shm{
    margin-right: 450px;
  
}
.read-more{
margin-top: 30px !important;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
position: relative;
left: 450px;
top: -50px;
}
.author-name {
  font-size: 14px;
  top: -50px;
  font-weight: 600;
  color: #fff;
  line-height: 1.2;
  position: relative;
  left: 440px;
}

.author-date {
  font-size: 10px;
  top: -40px;
  color: #9ca3af;
  line-height: 1.2;
  position: relative;
  left: 440px;
 
}
/* .feature-left {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.feature-left .d-flex {
  margin-top: auto;
} */
.feature-right {
  height: 100%;
}

.feature-img {
  width: 100%;
  height: 100%;       
  object-fit: cover;    
}