.nav-pill {
  display: flex;
  gap: 6px;
  padding: 6px;
  border-radius: 999px;
  background: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  width: 300px;
 display: flex;
 justify-content: center;
 margin-right: 340px !important;
}

/* اللينكات */
.nav-pill .nav-link {
  color: rgb(151, 146, 146) !important;
  padding: 8px 25px;
  border-radius: 999px;
  text-decoration: none;
  transition: 0.3s ease;
}

/* active */
.nav-pill .nav-link.active {
  background-color: #ff7a00;
  color: white !important;
}
.text-col{
    color: rgb(151, 146, 146);
}


.text-col {
  color: rgb(151, 146, 146);
  padding: 6px;
 width: 40px;
 border-radius: 9px;
  transition: 0.2s ease;
left: 50px;
position: relative;
 
}

.text-col:hover {
  color: #ff7a00;              /* أورنج */
  border: 1px solid   rgb(97, 94, 94);   /* بوردر خفيف */
}
.asd{
    background-color: #ff7a00;
 position: absolute;
  padding: 10px;
 top: 24px;
}
.nmr{
    font-size: 12px;
    color: #ff7a00 !important;
   position: relative;
   top: 37px;
   right: 120px;
}